/* 배경색 */
.bg-primary { background-color:$primary; }

/* 폰트색 */
.white { color:white; }

.title_type01 {font-size:20px; font-weight:bold;}
.body_type01 {font-size:14px;}

.box_type01 {padding:20px; background-color:white; box-shadow:2px 4px 4px rgba(0,0,0,0.3);}
