.project {
    margin-top: 15px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 4px 4px 4 gba(0, 0, 0, rgba(0, 0, 0, 0.3));

    &__title {

        font-size: 20px;
        font-weight: bold;
    }

    &__body {
        font-size: 14px;
    }
}
